/*
  style.css for HW02 - Bootstrap Portfolio
  Bo Slott
  September 2, 2017 
*/

/*
  Notes

  Still trying to figure out why the aside box ("Connect Box") jumps from a height of
  338px when the screen size is 769px+, up to a height of 999px when the screen height
  is 768px-.

  Also still trying to figure out why the title bar is wonky going across the
  portfolio images.



/* Typography */

  body {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: #777777;
        font-size: 18px;
        line-height: 34px;
        background: url("../images/concrete_seamless.png");
    }

    h1, h2, h3, .navbar-brand {
        font-family: Georgia, Times, "Times New Roman", serif;
        font-weight: 700;
      }

    h1, h2, h3 {
        color: #4aaaa5;
    }

    h1 {
      padding-bottom: 20px;
      font-size: 30px;
      line-height: 49px;
      border-bottom: 3px solid #ddd;
    }

    h2, h3 {
      padding-bottom: 20px;
      font-size: 22px;
      line-height: 49px;
      border-bottom: 2px solid #ddd;
    }


/* Structure */

* {
  box-sizing: border-box;
}

  /* Site Header */

    .site-header-outer {
      background-color: #fff;
      border-style: solid;
      border-color: #ccc;
      border-bottom-width: 2px;
    }

    .navbar, .navbar-default {
      background-color: #fff;
      border: none;
      margin: 0;
    }

    .logo {
      background-color: #4aaaa5;
      padding: 20px 50px;
    }

    .logo-text {
      color: #fff;
      font-size: 30px;
    }

    .nav-links-container {
      margin-top: 20px;
    }

    nav li {
      display: inline-block;
      padding-left: 15px;
      margin-left: 15px;
      line-height: 18px;
      color: #999;
      text-decoration: none;
      border-left: 1px solid #efefef;
    }

    nav li:first-child {
      border-left: 0 none;
    }

  /* Site Content */

    /* Main Content */

      .main-content {
        margin: 30px 30px 30px 0;
        border-style: solid;
        border-width: 1px;
        border-color: #dddddd;
        background-color: #fff;
      }

      .main-content-header {
        padding: 30px;
      }

      .main-content-img {
        width: 40%;
        height: auto;
        margin: 0px 30px;
        display: inline-block;
        border-radius: 50%;
        object-fit: cover;
        float: left;
      }

      .main-content-body p {
        color: #777777;
        font-size: 20px;
        line-height: 2;
        margin: 0 10px 20px 30px;
        padding-right: 15px;
      }

      .main-content-article {
        position: relative;
        float: left;
        width: 40%;
        margin: 20px 0 25px;
        overflow: auto;
      }

      .main-content-article img {
        position: relative;
        width: 100%;
        border: 0 none;
        opacity: 0.8;
        margin-left: 10px;
      }

      .main-content-article h1 {
        position: absolute;
        bottom: 20px;
        width: 87%;
        padding: 15px;
        margin: 0 0 0 10px;
        font-weight: 300;
        line-height: 30px;
        color: #fff;
        text-align: center;
        background: #4aaaa5;
        border-bottom: 0;
      }

    /* Contact Form */

      #contact-form ul {
      margin-bottom: 20px;
      }

      #contact-form li {
      margin-bottom: 10px;
      padding: 0 30px;
      }

      label,
      input[type=text],
      input[type=email],
      textarea {
        display: block;
        width: 100%;
      }

      input[type=text],
      input[type=email],
      textarea {
        height: 35px;
        padding: 0 10px;
        font-size: 14px;
        border: 1px solid #ddd;
      }

      input[type=text]:focus,
      input[type=email]:focus,
      textarea:focus {
        background-color: #4aaaa5;
        color: #fff;
      }

      textarea {
        height: 200px;
      }

      input[type=submit] {
        padding: 10px 30px;
        font-size: 18px;
        color: #fff;
        cursor: pointer;
        background: #4aaaa5;
        border: 0 none;
        margin: 0 0 30px 30px;
      }

    /* Aside Box */

      .aside-box {
        margin: 30px 30px 30px 0;
        background: #fff;
        border: 1px solid #ddd;
      }

      .aside-box-header {
        padding: 20px;
        line-height: 22px;
        text-align: center;
      }

      .aside-box-content {
        padding: 0 20px 20px 20px;
        text-align: center;
      }

      .social-links {
        width: 25%;
        margin: 0 12px;
      }

      .social-links:last-child {
        margin-right: 0;
        }



  /* Site Footer */

    .site-footer {
      background-color: #777777;
      border-style: solid;
      border-width: 8px 0 0;
      border-color: #4aaaa5;
      color: #cccccc;
      font-size: 12px;
      text-align: center;
      padding: 30px 0;
      margin-top: 30px;
    }

/* General */



